@model MyLibraryApp.Models.Publisher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Publisher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PublisherId" />
            <div class="form-group">
                <label asp-for="PubName" class="control-label"></label>
                <input asp-for="PubName" class="form-control" />
                <span asp-validation-for="PubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PubAdress" class="control-label"></label>
                <input asp-for="PubAdress" class="form-control" />
                <span asp-validation-for="PubAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"  /> &ensp;&ensp;&ensp;
                <a asp-action="Index" class="btn btn-secondary ">Go Back&nbsp;<i class="bi bi-arrow-90deg-left"></i> </a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
