@model MyLibraryApp.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" class ="form-control" asp-items="ViewBag.PublisherId"></select>
            </div>
           @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvaiable" /> @Html.DisplayNameFor(model => model.IsAvaiable)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="Annotation" class="control-label"></label>
              @*  <input asp-for="Annotation" class="form-control" />
                <span asp-validation-for="Annotation" class="text-danger"></span>*@
            </div>
              <div class="form-group">
               <textarea asp-for="Annotation" class="form-control" rows="5" cols="53"></textarea>
            </div>
             <div class="container">
                <div class="row">
            <div class="col-2" >
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="col-5 offset-5" >
            <a asp-action="Index" class="btn btn-secondary ">Go Back&nbsp;<i class="bi bi-arrow-90deg-left"></i> </a>
            </div></div></div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
