@{
    ViewData["Title"] = "Home Page";
    
}
<body style="background-size:100%; background-image:url(../images/libpic.jpg ) ;background-repeat:no-repeat">
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
</body>


